
<% layout("/layouts/boilerplate") %>  <%= success %>
<style>
  .filters{
    display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 1rem;
    opacity: 0.8;
    
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.9rem;
  }
  .tax-info{
    display: none;
  }
  .tax-switch{
    border: 1px solid black;
    border-radius: 1.3rem;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
</style>
<div class="container mt-3">
  <div class="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-monument"></i></div>
    <p>Iconic cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beaches</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing pools</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-shop"></i></div>
    <p>Cabin</p>
  </div>
    <div class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Igloo</p>
  </div>
   <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
    <div class="filter">
    <div><i class="fa-solid fa-house"></i></div>
    <p>Apartments</p>
  </div>
  
  <!-- add more .filter items here -->
   <div class="tax-switch">
    <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
   </div>
</div>


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-1">

    <% for (let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class=" card col">
        <div class="card h-100 ">
          <img 
            src="<%= listing.image.url %>" 
            class="card-img-top" 
            alt="<%= listing.title %>"
            style="height: 200px; object-fit: cover;"
          >
          <div class="card-img-overlay"></div>

          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><b><%= listing.title %></b></h5>
             
          
            <p class="card-text mb-3">
              ₹ <%= listing.price.toLocaleString("en-IN") %>/night
              <i class="tax-info" > &nbsp;  +18% GST</i>
            </p>

            
          </div>
        </div>
      </div>
      </a>
    <% } %>

  </div>
</div>

<script>
  let taxSwitch =  document.getElementById("switchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
     let taxInfo = document.getElementsByClassName("tax-info")
     for(info of taxInfo){
      if(info.style.display !="inline"){
      info.style.display = "inline"
      }else{
        info.style.display = "none"
      }
     }
  })
</script>

